body {
  margin: 0;
  padding: 0px;
}

.app {
  background-color: purple;
  height: 2500px;
  padding: 20px;
}
.resume h4 {
  text-align: center;
  font-size: 2.5rem;
  margin: 10px 10px 5px 10px;
}
.resume h6{
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 10px 20px 20px;
}

.resume {
  background-color: rgb(47, 121, 174);
  height: 1290px;
  margin: 5px 20px 20px 20px;
  padding: 20px;
  border: 3px solid black;
}

.PersonalInfo {
  /* background-color: yellow; */
  height: 270px;
  margin-top: 5px;
  border: 1px solid black;
}

.PersonalInfo input {
  display: flex;
  padding: 8px;
  margin: 5px;
  width: 280px;
}
.PersonalInfo button {
  background-color: red;
  border-radius: 5px;
  padding: 8px 30px;
  margin: 5px;
  border: 0.8px solid black;
  cursor: pointer;
}

.Education {
  /* background-color: blue; */
  height: 270px;
  border: 1px solid black;
  margin-top: 10px ;
}
.Education input {
  display: flex;
  padding: 10px;
  margin: 5px;
  width: 280px;
}
.Education button {
  background-color: red;
  border-radius: 5px;
  padding: 8px 30px;
  margin: 5px;
  border: 0.8px solid black;
  cursor: pointer;
}

.Skills {
  height: 140px;
  margin-top: 10px;
  
  border: 1px solid black;
}
.Skills h2{
  border: 0.5px solid black;
  background-color: red;
  width: 80px;
  height: 30px;
  margin-left: 6px;
  border-radius: 4px;
}

.Skills textarea {
  margin: 0px 0px 0px 5px;
  width: 300px;
  height: 60px;
}
.Skills button {
  background-color: red;
  border-radius: 5px;
  padding: 8px 30px;
  margin: 25px;
  border: 0.8px solid black;
  cursor: pointer;
}

.Projects {
  /* background-color:white; */
  height: 220px;
  margin-top: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.Projects input {
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 290px;
}

.Projects textarea {
  padding: 5px;
  margin: 5px 0px 5px 0px;
  width: 290px;
  height: 40px;
  margin: 5px;
}

.Projects button {
  background-color: red;
  border-radius: 5px;
  padding: 8px 30px;
  margin: 5px;
  border: 0.8px solid black;
  cursor: pointer;
}

.Languages {
  height: 160px;
  padding-top: 10px;
  border: 1px solid black;
}

.Languages input {
  height: 60px;
  display: flex;
  width: 290px;
  margin: 5px;
}
.Languages button {
  background-color: red;
  border-radius: 5px;
  padding: 8px 30px;
  margin: 5px;
  border: 0.5px solid black;
  cursor: pointer;
}
.final-resume {
  background-color: white;
  margin: 30px 0px 0px 0px;
  padding: 20px;
  border: 1px solid black;
}
.sub {
  background-color: rgb(152, 152, 216);
  padding: 15px 30px;
  margin: 10px 0px 0px 75px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: larger;
  font-weight: 700;
}
.del {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px 0px 0px 30px;
  font-size: large;
}
@media screen and (max-width: 600px) {
  .PersonalInfo input {
    width: 100px;
  }
  .Education input {
    width: 100px;
  }
  .Languages input {
    width: 100px;
  }
  .Skills textarea {
    width: 100px;
  }
  .Projects input {
    width: 100px;
  }
  .Projects textarea {
    width: 100px;
  }
}
